body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#root {
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	justify-content: space-between;
	background: lightslategray;
}

.header-title {
	color: #fff;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 30px;
}

.search-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 30px;
}

.home-cocktails {
	display: flex;
	flex-wrap: wrap;
}

.home-cocktail {
	width: 20%;
	position: relative;
}

.home-cocktail img {
	display: block;
	height: 100%;
	width: 100%;
}

.home-cocktail .home-cocktail-title {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.single-cocktail {
	padding: 30px;
}